<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />

    <title>Example Student's HCDE 439 Physical Computing Page!</title>

    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Amy's HCDE 439 Physical Computing Page!</h1>

    <div class="header">
      <img src="Amy.jpg" />
      <p>
        Hi! My name is Amy Huang. 
        I'm currently a undergraduate 4th year HCDE Student! I'm interested in
        User Research. This will be my first time working with digital electronic 
        components and circuits so I'm very excited!
      </p>
    </div>

    <div class="grid">
      <div class="assignment">
        <a href="a1.html">
          <h2>Assignment 1: Blink!</h2>
          <img src="red-panda.jpg" />
        </a>
        <p>Assignment 1 was a panda!</p>
      </div>

      <div class="assignment">
        <a href="a2.html">
          <h2>Assignment 2: Fade!</h2>
          <img src="red-panda.jpg" />
        </a>
        <p>Assignment 2 was a panda!</p>
      </div>

      <div class="assignment">
        <a href="a2.html">
          <h2>Assignment 2: Fade!</h2>
          <img src="red-panda.jpg" />
        </a>
        <p>Assignment 2 was a panda!</p>
      </div>
    </div>
  </body>
</html>
